/**
 * @file
 * Style magnitude of phenotypes field.
 */

/**
 * Global
 */
#field-magnitude-of-phenotypes-wrapper ul,
#field-magnitude-of-phenotypes-wrapper ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/**
 * Magnitude of phenotypes:
 */
#field-magnitude-of-phenotypes-wrapper-magnitude {
  background: #F9F9F9;
  border: 1px solid #D0D0D0;
  margin: 15px 0 0 0;
  padding: 20px;
}

#field-magnitude-of-phenotypes-wrapper-magnitude ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 1.4em;
}

#field-magnitude-of-phenotypes-wrapper-magnitude ul li span {
  border-right: 1px solid #000000;
  display: inline-block;
  line-height: 15px;
  margin: 0;
  padding: 0 10px 0 0;
}

#field-magnitude-of-phenotypes-wrapper-magnitude ul li:last-child span {
  border: none;
  margin-right: 0;
}

#field-magnitude-of-phenotypes-wrapper-magnitude ul li span a {
  font-size: 0.7em;
}



/**
 * Phenotypes:
 */
#field-magnitude-of-phenotypes-wrapper-phenotypes {
  margin: 20px 0 30px 0;
  overflow-y: hidden;

  min-height: 250px;
  max-height: 250px;

  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -ms-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

#field-magnitude-of-phenotypes-wrapper-phenotypes ul li {
  background: url(icon-leaf.gif) left top no-repeat;
  display: inline-block;
  margin: 0 10px 30px 0;
  padding-left: 35px;
  font-size: 1.2em;
  width: 250px;
}

#field-magnitude-of-phenotypes-wrapper-phenotypes ul li span {
  display: block;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 15px;
  margin: 0;
  padding: 0 10px 0 0;
  text-align: left;
}

#field-magnitude-of-phenotypes-wrapper-phenotypes ul li small {
  color: #3a7f21;
  display: block;
  margin-top: 5px;
}

#magnitude-of-phenotypes-btn-reveal {
  border-top: 1px solid #CCCCCC;
  width: 100%;
}

#magnitude-of-phenotypes-btn-reveal div {
  cursor: pointer;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  margin: -12px auto 0 auto;
  text-align: center;
  width: 20px;
}

.magnitude-of-phenotypes-phenotypes-reveal-off {
  background: #F0F0F0 no-repeat url('arrow-sprite.gif') 2px 2px;
}

.magnitude-of-phenotypes-phenotypes-reveal-on {
  background: #F0F0F0 no-repeat url('arrow-sprite.gif') 2px -12px;
}
