/**
 * @file
 * Style phenotype image.
 */

/* Main field wrapper */
#ap-field-phenotype-image-wrapper {
  display: inline;
  margin: 0;
  padding: 0;
}

/* IMAGE - stack order */
#ap-field-phenotype-image-wrapper img {
  margin: 5px;
}

.ap-top-to-bottom img {
  display: block;
}

/* Clear float */
.ap-clear-float {
  clear: both;
  height: 0;
}
