/**
 * @file
 * Stage 3 - Describe
 */

#ap-describe-main-form-container .form-type-item label {
  border-bottom: 1px solid #CCCCCC;
}

#ap-describe-main-form-container fieldset {
  background-color: #CCCCCC;
  margin: 2px;
}

#ap-describe-main-form-container .fieldset-wrapper {
  background-color: #FFFFFF;
}

#ap-describe-main-form-container .fieldset-title {
  color: #000000;
}

#ap-describe-main-form-container .fieldset-legend {
  background: none;
}

ul.ap-item-list {
  margin-left: 0 !important;
  padding-left: 0;
}

.ap-item-list li {
  display: inline-block;
}

.ap-item-list a {
  padding: 0 5px 0 0;
}

.ap-form-fieldset-container .fieldset-legend {
  width: 98%;
}

.ap-form-fieldset-container a.fieldset-title {
  display: inline-block;
  width: inherit;
}


.ui-accordion-header {
  background-color: #CCCCCC;
  padding: 10px;
}

#accordion .ui-icon {
  display: none;
}
