/**
 * @file
 * Contains global style used in each stages.
 */


/*
 * STAGE INDICATOR.
 */

/*
 * Graphical stage indicator
 */
#ap-container-progress {
  margin: 0 0 20px 0;
}

div.ap-progress-stage {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 1.1em;
  font-family: serif;
  font-weight: 100;
  height: 50px;
  line-height: 50px;
  margin: 5px 0 0 0;
  width: 130px;
}

div.ap-progress-stage span {
  background: url('../img/icon-chevron.gif') no-repeat;
  border: none;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0 10px 0 0;
}

div.ap-progress-stage span:first-child {
  background-position: 0 50%;
  width: 10px;
  margin: 0 1.8% 0 0;
}

div.ap-progress-stage span:last-child {
  background-position: -18px 50%;
  float: right;
  width: 10px;
}

div.ap-progress-stage-todo {
  opacity: 0.2;
}

div.ap-progress-stage-todo:hover {
  opacity: 0.4;
}

div.ap-clear-both {
  clear: both;
}


/*
 * Fieldset style window used in
 * Validation Result window.
 */
.ap-result-panel {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#ap-content-window-title {
  background-color: #304356;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 10px 0 10px 20px;
}

#ap-content-window-copy {
  border: 1px;
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  -moz-box-shadow:    1px 1px 5px 1px #EAEAEA;
  -webkit-box-shadow: 1px 1px 5px 1px #EAEAEA;
  box-shadow:         inset 1px 1px 5px 1px #EAEAEA;

  background-color: #FFFFFF;
  padding: 20px 30px 20px 30px;
  text-align: left;
}

.ap-passed {
  background: url('../img/icon-success.jpg') no-repeat;
  background-position: 5px 0;
}

.ap-failed {
  background: url('../img/icon-failed.jpg') no-repeat;
  background-position: 5px 0;
}

.ap-todo {
  background: url('../img/icon-todo.jpg') no-repeat;
  background-position: 5px 0;
  opacity: 0.2;
}

ul#ap-content-window-list {
  list-style-type: none;
  margin: 0 15px 0 0;
  margin: 0 !important;
  padding: 0 !important;
  padding: 15px;
}

li em {
  font-weight: bold;
}

#ap-content-window-list > li {
  padding: 0 0 10px 15px;
}

#ap-content-window-list > li em {
  margin-left: 18px;
}

ul.ap-content-window-sublist {
  background-color: #F7F7F7;
  margin: 0 20px 5px 0 !important;
  padding: 10px !important;
}

li.ap-sublist-item {
  margin-left: 20px;
}
