
.field-type-ncit--method .method {
  padding: 0px;
  padding-bottom: 25px;
}
.field-type-ncit--method .method p {
  margin-bottom: 5px;
}
.field-type-ncit--method .method .unit-statement {
  font-style: italic;
}
.field-type-ncit--method .method .unit {
  font-weight: bold;
}
